//
//  Bedrock.xcconfig
//  Bedrock
//
//  Created by Nick Forge on 5/09/2016.
//  Copyright © 2016 Nick Forge. All rights reserved.
//

SKIP_INSTALL = YES

DYLIB_COMPATIBILITY_VERSION = 1
DYLIB_CURRENT_VERSION = 1
DYLIB_INSTALL_NAME_BASE = @rpath

BR_BUNDLE_SHORT_VERSION_STRING = 0.2.2
BR_BUNDLE_VERSION = 1

DEFINES_MODULE = YES
INFOPLIST_FILE = Bedrock/Info.plist
PRODUCT_BUNDLE_IDENTIFIER = com.nickforge.Bedrock
PRODUCT_NAME = Bedrock

INFOPLIST_FILE = Bedrock/Info-$(BR_PLATFORM).plist


// Warnings

CLANG_ANALYZER_NUMBER_OBJECT_CONVERSION = YES_AGGRESSIVE

