//
//  Bedrock.xcconfig
//  Bedrock
//
//  Created by Nick Forge on 5/09/2016.
//  Copyright © 2016 Nick Forge. All rights reserved.
//

#include "UniversalFramework.xcconfig"

IPHONEOS_DEPLOYMENT_TARGET = 9.0
MACOSX_DEPLOYMENT_TARGET = 10.11
TVOS_DEPLOYMENT_TARGET = 9.0
WATCHOS_DEPLOYMENT_TARGET = 2.0

