//
//  ImportCarthageFrameworks.xcconfig
//  Bedrock
//
//  Created by Nick Forge on 9/09/2016.
//  Copyright © 2016 Nick Forge. All rights reserved.
//


// Carthage Framework Search Paths

CARTHAGE_BUILD_DIR[sdk=macosx*] = $(SRCROOT)/Carthage/Build/Mac
CARTHAGE_BUILD_DIR[sdk=iphoneos*] = $(SRCROOT)/Carthage/Build/iOS
CARTHAGE_BUILD_DIR[sdk=iphonesimulator*] = $(SRCROOT)/Carthage/Build/iOS
CARTHAGE_BUILD_DIR[sdk=watchos*] = $(SRCROOT)/Carthage/Build/watchOS
CARTHAGE_BUILD_DIR[sdk=watchossimulator*] = $(SRCROOT)/Carthage/Build/watchOS
CARTHAGE_BUILD_DIR[sdk=appletvos*] = $(SRCROOT)/Carthage/Build/tvOS
CARTHAGE_BUILD_DIR[sdk=appletvsimulator*] = $(SRCROOT)/Carthage/Build/tvOS

FRAMEWORK_SEARCH_PATHS = $(inherited) $(CARTHAGE_BUILD_DIR)

